<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="9" id="com.eclipsesource.tabrisrss" version="1.1.7" xmlns="http://www.w3.org/ns/widgets">
    <name>Tabris.js RSS reader</name>
    <description>
        An exemplary Tabris.js Rss reader.
    </description>
    <author email="tabris@eclipsesource.com" href="https://tabrisjs.com">
        EclipseSource
    </author>
    <access origin="*" />

    <plugin name="cordova-plugin-x-socialsharing" />
    <plugin name="cordova-plugin-actionsheet" />

    <platform name="android">
        <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>

    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icons/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icons/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icons/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icons/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icons/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icons/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icons/icon.png" width="57" height="57" />
        <icon src="res/ios/icons/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icons/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icons/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icons/icon-Small.png" width="29" height="29" />
        <icon src="res/ios/icons/icon-Small@2x.png" width="58" height="58" />
        <icon src="res/ios/icons/icon-Small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icons/icon-Small-50.png" width="50" height="50" />
        <icon src="res/ios/icons/icon-Small-50@2x.png" width="100" height="100" />

        <!-- images are determined by width and height. The following are supported -->
        <!--<splash src="res/ios/screen/Default@2x~iphone.png" width="640" height="960"/>-->
        <!--<splash src="res/ios/screen/Default-Portrait~ipad.png" width="768" height="1024"/>-->
        <!--<splash src="res/ios/screen/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>-->
        <!--<splash src="res/ios/screen/Default-Landscape~ipad.png" width="1024" height="768"/>-->
        <!--<splash src="res/ios/screen/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>-->
        <!--<splash src="res/ios/screen/Default-568h@2x~iphone.png" width="640" height="1136"/>-->
        <!--<splash src="res/ios/screen/Default-667h.png" width="750" height="1334"/>-->
        <!--<splash src="res/ios/screen/Default-736h.png" width="1242" height="2208"/>-->
        <!--<splash src="res/ios/screen/Default-Landscape-736h.png" width="2208" height="1242"/>-->
    </platform>


</widget>
